*{
    margin: 0;
    font-family:Georgia, Times, 'Times New Roman', serif; 
    
}

.contenedor{
    background-image: url(https://fondosmil.com/fondo/35285.jpg);
    text-align: center;
    z-index: 1;
    height: 100vh;
}

p{
    font-size: 65px;
    padding: 15%;
    font-weight:bold;
    border-bottom:1px solid  rgba(0, 0, 0, 0.979)  ; 
    color: aliceblue;


}

button{
    font-size: xx-large;
    padding: 0.75em;
    z-index: 3 ;
}

#yesBtn{
    transform: translate(-100%,0);
    z-index: 10;
}

#noBtn{
    position: absolute;
}